*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

html {
  height: 100%;
  height: -webkit-fill-available;
}

body {
  min-height: 100svh;
  min-height: -webkit-fill-available;
}
